.DisplayCom {
  .Cont {
    transition: 0.4s all ease-in-out;

    &:hover {
      animation: move 3s infinite ease alternate;
    }
  }

  @keyframes move {
    from {
      transform: translateY(-15px);
    }

    // to {
    //   transform: translateY(0px) scale(1.03);
    // }
  }
}
